---
layout: post.njk
title: Sites
eleventyNavigation:
  key: sites
  order: 300
---

<h3>F1 Page Speed Insights</h3>
<p>Aggregates data from PageSpeed Insights and CrUX and displays the which F1 team have the fastest web performance.</p>
<a href="https://f1-page-speed-insights.netlify.app/" target="_blank" rel="noopener">Website</a> | <a href="/f1-page-speed-insights" target="_blank" rel="noopener" title="F1 Page Speed Insights">Blog Post</a>
