---
layout: post.njk
title: Sites
eleventyNavigation:
  key: sites
  order: 300
---

<h3>gobare.sg</h3>
<p>Australian based skin care company - website built using Next.js and Shopify.</p>
<a href="https://gobare.sg" target="_blank" rel="noopener">Website</a> | <a href="/improving-shopify-page-performance-using-next.js/" title="Improving Shopify Page Performance Using Next.js">Blog Post</a>

<h3>F1 Page Speed Insights</h3>
<p>Data from PageSpeed Insights and CrUX that showcases which Formula 1 team have the fastest web performance.</p>
<a href="https://f1-page-speed-insights.netlify.app/" target="_blank" rel="noopener">Website</a> | <a href="/f1-page-speed-insights" title="F1 Page Speed Insights">Blog Post</a>
