---
layout: post.njk
title: Sites
eleventyNavigation:
  key: sites
  order: 300
---

<h3>gobare.vercel.app</h3>
<p>Australian based skin care company - website built using Next.js and Shopify.</p>
<a href="https://gobare.vercel.app" target="_blank" rel="noopener">Website</a> | <a href="/improving-shopify-page-performance-using-next.js/" title="Improving Shopify Page Performance Using Next.js">Blog Post</a>

<h3>Formula 1 Page Speed Insights</h3>
<p>Performance report using PageSpeed Insights and Chrome User Experience Report to showcase which Formula 1 team has the fastest web performance.</p>
<a href="https://f1-page-speed-insights.netlify.app/" target="_blank" rel="noopener">Website</a> | <a href="/f1-page-speed-insights" title="F1 Page Speed Insights">Blog Post</a>

<h3>Singapore E-Commerce Page Speed Insights</h3>
<p>Performance report using PageSpeed Insights and Chrome User Experience Report to showcase which Singapore E-Commerce store has the fastest web performance.</p>
<a href="https://sg-page-speed-insights.netlify.app/" target="_blank" rel="noopener">Website</a>