<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% include 'seo.njk' %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>"/>
    <link rel="stylesheet" href="{{ '/styles.css' | url }}"/>
  </head>
  <body class="bg-gray-50 dark:bg-gray-900 dark:text-gray-200 antialiased text-gray-900 px-4 py-6 max-w-2xl mx-auto">

    <header class="pb-6 border-b border-gray-200 dark:border-gray-700 dark:text-blue-300">
      <div class="container mx-auto flex flex-wrap justify-between items-end">
        <h1 class="heading"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
        <nav>
          <ul class="flex items-center gap-5 font-medium text-lg mt-3">
            {%- for entry in collections.all | eleventyNavigation %}
              <li>
                <a href="{{ entry.url | url }}" class="{% if entry.url == page.url %} underline {% endif %}">
                  {{ entry.title }}
                </a>
              </li>
            {%- endfor %}
            <li>
              {% include 'icon-sun.njk' %}
              {% include 'icon-moon.njk' %}
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer class="flex justify-center">
      <ul class="flex items-center">
        <li class="mr-3">
          <a href="https://github.com/petermekhaeil" title="GitHub" rel="me noopener">
            <span class="sr-only">Connect with Peter on GitHub</span>
            {% include 'icon-github.njk' %}
          </a>
        </li>
        <li class="mr-3">
          <a href="https://twitter.com/PMekhaeil" title="Twitter" rel="me noopener">
            <span class="sr-only">Connect with Peter on Twitter</span>
            {% include 'icon-twitter.njk' %}
          </a>
        </li>
        <li class="mr-3">
          <a href="https://dev.to/petermekhaeil" title="Dev.to" rel="me noopener">
            <span class="sr-only">Connect with Peter on Dev.to</span>
            {% include 'icon-devto.njk' %}
          </a>
        </li>
        <li class="mr-3">
          <a href="https://www.linkedin.com/in/petermekhaeil/" title="LinkedIn" rel="me noopener">
            <span class="sr-only">Connect with Peter on LinkedIn.</span>
            {% include 'icon-linkedin.njk' %}
          </a>
        </li>
        <li class="mr-3">
          <a href="/rss.xml" title="RSS Feed" rel="me noopener">
            <span class="sr-only">RSS Feed</span>
            {% include 'icon-rss.njk' %}
          </a>
        </li>
      </ul>
    </footer>

    <script>
     (function () {
        var theme = localStorage.getItem("theme");
        var userPrefersDark = window.matchMedia("(prefers-color-scheme: dark)");
        var toggleDark = document.getElementById("toggle-dark");
        var toggleLight = document.getElementById("toggle-light");
        var htmlElem = document.querySelector('html');

        if (theme === "dark" || (!theme && userPrefersDark.matches)) {
          htmlElem.classList.add("dark");
          toggleDark.classList.add("visible");
          toggleLight.classList.remove("hidden");
        } else {
          toggleLight.classList.add("visible");
          toggleDark.classList.remove("hidden");
        }

        toggleLight.addEventListener("click", function () {
          localStorage.setItem("theme", "light");
          htmlElem.classList.remove("dark");
          toggleDark.classList.add("visible");
          toggleDark.classList.remove("hidden");
          toggleLight.classList.add("hidden");
          toggleLight.classList.remove("visible");
        });

        toggleDark.addEventListener("click", function () {
          localStorage.setItem("theme", "dark");
          htmlElem.classList.add("dark");
          toggleLight.classList.add("visible");
          toggleLight.classList.remove("hidden");
          toggleDark.classList.add("hidden");
          toggleDark.classList.remove("visible");
        });
      })();
    </script>
  </body>
</html>