---
layout: post.njk
---

<div class="lg:grid lg:grid-cols-12 lg:gap-8">
  <div class="lg:col-span-6 lg:flex lg:flex-col lg:justify-center">
    {{ content | safe }}
  </div>
  <div class="sm:mx-auto lg:max-w-none lg:col-span-6">
    {% Image "src/assets/profile.png", "Handsome photo of Peter Mekhaeil on the Great Wall of China" %}
  </div>
</div>