---
layout: post.njk
---

<div class="lg:grid lg:grid-cols-12 lg:gap-2">
  <div class="lg:col-span-8">
    {{ content | safe }}
  </div>
  <div class="sm:mx-auto lg:max-w-none lg:col-span-4">
    {% Image "src/assets/profile.png", "Handsome photo of Peter on the Great Wall of China" %}
  </div>
</div>