---
layout: base.njk
---
<article class="
  mt-4 mb-16 lg:mt-10 mx-auto
  prose
  sm:prose-lg
  dark:prose-dark
  prose-h2:mt-0

  prose-a:border-b-2
  prose-a:border-yellow-500
  hover:prose-a:bg-yellow-500
">
  {% if title %}<h2>{{ title }}</h2>{% endif %}

  <div class="mb-2">
    {% if date %}
      <p class="text-gray-500" style="margin:0">{{ date | htmlDateString }}</p>
    {% endif %}
    {% if title and not hideReadingTime %}
     <p class="text-gray-500" style="margin:0">{{ content | emojiReadTime }}</p>
    {% endif %}
  </div>
  {% if toc %}
    {{ content | toc | safe }}
  {% endif %}
  {{ content | safe }}
  {% if devto %}
    <div>
      <p class="text-center">Leave a comment on <a href={{ devto }}>Dev.to</a>.</p>
    </div>
  {% endif %}
</article>