<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
  </head>
  <body>
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

      <nav>
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
      </nav>

    </header>

    {{ content | safe }}

    <footer></footer>
  </body>
</html>