---
import BaseLayout from '../layouts/base.astro';

export const prerender = true;
---

<BaseLayout title="Not Found" description="">
  <div class="py-16">
    <div class="text-center">
      <p class="text-base font-semibold">404</p>
      <h1 class="mt-2 text-4xl font-bold tracking-tight sm:text-5xl">
        Page not found.
      </h1>
      <p class="mt-2 text-base text-gray-500">
        Sorry, there is no page at <code>{Astro.url.pathname.slice(0, -1)}</code
        >.
      </p>
      <div class="mt-6">
        <a href="/" class="text-base font-medium">
          Go back home
          <span aria-hidden="true"> &rarr;</span>
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
