---
import BaseLayout from '../layouts/base.astro';
import { getGitHubTilRepo } from '../_data/github_til_repo';

const til = await getGitHubTilRepo();
---

<BaseLayout>
  <h1 class="text-2xl font-bold mb-1">Today I Learned</h1>
  <div class="mb-16">
    <p class="my-6">
      This is a collection of short notes of the things I have learned on the
      daily while working on different technologies. I share these notes as I <a
        class="border-b text-gray-600 border-gray-300 transition-[border-color] hover:border-gray-600"
        href="https://www.learninpublic.org/"
        target="noopener">learn in public</a
      >.
    </p>
    <p>
      <i> <strong>{til.length}</strong> TILs and counting...</i>
    </p>
    <p class="my-6">
      You can follow along by watching my <a
        class="border-b text-gray-600 border-gray-300 transition-[border-color] hover:border-gray-600"
        href="https://github.com/petermekhaeil/til">GitHub repository</a
      >.
      <ul class="list-none space-y-2 text-sm tabular-nums my-8">
        {
          til.map((item) => (
            <li>
              <div class="flex">
                <div class="shrink-0 basis-28 text-gray-500">{item.date}</div>
                <a href={`/til/${item.path}/`}>{item.title}</a>
              </div>
            </li>
          ))
        }
      </ul>
    </p>
  </div>
</BaseLayout>
