---
interface Props {
  name: string;
  description: string;
  links: { text: string; url: string }[];
}

const { name, description, links } = Astro.props;
---

<li class="flex flex-col items-start">
  <h3 class="text-base font-semibold text-gray-800">
    {name}
  </h3>
  <p class="mt-2 mb-2 text-sm text-gray-600">
    {description}
  </p>
  {
    links.map((link) => (
      <a
        href={link.url}
        class="mt-2 flex align-middle text-sm font-medium text-gray-600">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-link">
          <>
            <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" />
            <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" />
          </>
        </svg>
        <span class="ml-2">{link.text}</span>
      </a>
    ))
  }
</li>
