---
layout: post.njk
eleventyNavigation:
  key: about
  order: 100
---

<ul class="list-none">
  {% for post in collections.posts | reverse %}
    <li style="margin-bottom: 32px">
      <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
      <p style="margin: 0"><small>{{ post.data.date | htmlDateString }}</small></p>
      <p style="margin: 0">{{ post.data.description }}</p>
      <p style="margin: 0">
        {% for tag in post.data.tags %}
          <i><small style="font-size:14px">#{{ tag }}</small></i>
        {% endfor %}
      </p>
    </li>
  {% endfor %}
</ul>

<h2>Projects</h2>
<ul class="list-none">
  {% for repo in github %}
  <li>
    <a href="{{ repo.url | url }}" target="_blank" rel="noopener" title="{{repo.name}}">{{ repo.name }}</a>
    <p style="margin: 0">{{repo.description}}</p>
  </li>
  {% endfor %}
</ul>

<h2>Sites</h2>
<ul class="list-none">
  {% for site in sites %}
  <li>
    <a href="{{ site.url | url }}" target="_blank" rel="noopener" title="{{site.name}}">{{ site.name }}</a>
    <p style="margin: 0">{{site.description}}</p>
  </li>
  {% endfor %}
</ul>

<hr />

<div class="lg:grid lg:grid-cols-12 lg:gap-8">
  <div class="lg:col-span-6 lg:flex lg:flex-col lg:justify-center">
  <h2>Hi there 👋</h2>
    <p>I'm a software engineer with a passion for building performant web apps using the latest web technologies. This is my space on the internet where I'll share my learnings. I am a work in progress so feel free to send me feedback on my learnings.<p>
  </div>
  <div class="sm:mx-auto lg:max-w-none lg:col-span-6">
    {% Image "src/assets/profile.png", "Handsome photo of Peter Mekhaeil on the Great Wall of China" %}
  </div>
</div>