---
layout: post.njk
eleventyNavigation:
  key: about
  order: 100
---

<h2>Improving Page Speed Performance</h2>
<ul>
  {% for post in collections.performancePosts | reverse %}
      <li>
        <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
        <p style="margin: 0"> {{ post.templateContent | striptags(true) | truncate(150) }}</p>
      </li>
  {% endfor %}
</ul>


<h2>Web Development</h2>
<ul>
  {% for post in collections.techPosts | reverse %}
    <li>
      <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
      <p style="margin: 0"> {{ post.templateContent | striptags(true) | truncate(150) }}</p>
    </li>
  {% endfor %}
  <li>
    <a href="https://medium.com/singtel-digital-technology/modernising-an-enterprise-front-end-stack-fe0571f259a1">Modernising an Enterprise Front End Stack</a>
    <p style="margin: 0">Almost any large enterprise struggles to keep their front-end code maintainable — and so did we! CSS and Javascript code bases grow large and unwieldy quite easily. With our component library, we were able to overcome these challenges.</p>
  </li>
</ul>

<h2>Career Learnings</h2>
<ul>
  {% for post in collections.careerPosts | reverse %}
    <li>
      <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
      <p style="margin: 0"> {{ post.templateContent | striptags(true) | truncate(150) }}</p>
    </li>
  {% endfor %}
</ul>

<h2>Projects</h2>
<ul>
  {% for repo in github %}
  <li>
    <a href="{{ repo.url | url }}" target="_blank" rel="noopener" title="{{repo.name}}">{{ repo.name }}</a>
    <p style="margin: 0">{{repo.description}}</p>
  </li>
  {% endfor %}
</ul>

<h2>Sites</h2>
<ul>
  <li>
    <a href="https://gobare.vercel.app" target="_blank" rel="noopener" title="gobare.vercel.app">Go Bare + Next.js</a>
    <p style="margin: 0">Australian based skin care company - website built using Next.js and Shopify.</p>
  </li>
  <li>
    <a href="https://f1-page-speed-insights.netlify.app/" target="_blank" rel="noopener" title="Formula 1 Page Speed Insights">Formula 1 Page Speed Insights</a>
    <p style="margin: 0">Performance report using PageSpeed Insights and Chrome User Experience Report to showcase which Formula 1 team has the fastest web performance.</p>
  </li>
  <li>
    <a href="https://sg-page-speed-insights.netlify.app/" target="_blank" rel="noopener" title="Singapore E-Commerce Page Speed Insights">Singapore E-Commerce Page Speed Insights</a>
    <p style="margin: 0">Performance report using PageSpeed Insights and Chrome User Experience Report to showcase which Singapore E-Commerce store has the fastest web performance.</p>
  </li>
</ul>

<hr />

<div class="lg:grid lg:grid-cols-12 lg:gap-8">
  <div class="lg:col-span-6 lg:flex lg:flex-col lg:justify-center">
  <h2>Hi there 👋</h2>
    <p>I'm a software engineer with a passion for building performant web apps using the latest web technologies. This is my space on the internet where I'll share my learnings. I am a work in progress so feel free to send me feedback on my learnings.<p>
  </div>
  <div class="sm:mx-auto lg:max-w-none lg:col-span-6">
    {% Image "src/assets/profile.png", "Handsome photo of Peter Mekhaeil on the Great Wall of China" %}
  </div>
</div>