---
layout: base.njk
eleventyNavigation:
  key: Projects
  order: 200
---

<div class="mt-4 lg:mt-10 mb-16 mx-auto">

  <p class="text-gray-600 dark:text-gray-400 mb-12">A collection of open-source projects that are available on GitHub.</p>

  <ul class="list-none space-y-8">
    {% for repo in github_pinned_repos %}
      <li>
        <a href="{{ repo.url | url }}">
          <h3 class="w-full mb-2 font-medium text-indigo-700 text-lg md:text-xl dark:text-gray-100">
            {{ repo.name }}
          </h3>
        </a>
        <p class="text-gray-600 dark:text-gray-400">{{ repo.description }}</p>
      </li>
    {% endfor %}
  </ul>

</div>

