---
layout: base.njk
eleventyNavigation:
  key: Projects
  order: 400
title: "Projects"
---

{%- from 'project.macro.njk' import project %}

<article
  class="prose prose-zinc mx-auto mt-4 mb-16 prose-h2:mt-0 prose-a:text-orange-500 hover:prose-a:text-orange-500 dark:prose-dark dark:prose-a:text-orange-400 dark:hover:prose-a:text-orange-400 lg:prose-lg lg:mt-10">

  <h2>
    Projects
  </h2>

  <div class="mt-8 mb-8 not-prose">
    <ul role="list" class="grid grid-cols-1 gap-x-12 gap-y-12">
      {% for item in projects %}
        {{ project({
            name: item.name,
            description: item.description,
            links: item.links
          })
        }}
      {% endfor %}
    </ul>
  </div>

  <h2>
    Open Source
  </h2>

  <p>Projects that showcase different web technologies and how they can be used to solve different challenges.</p>

  <div class="mt-8 mb-8 not-prose">
    <ul role="list" class="grid grid-cols-1 gap-x-12 gap-y-12">
      {% for item in projects_github %}
        {{ project({
            name: item.name,
            description: item.description,
            links: item.links
          })
        }}
      {% endfor %}
    </ul>
  </div>

</article>