---
layout: base.njk
eleventyNavigation:
  key: Sites
  order: 300
---

<div class="mt-4 lg:mt-10 mb-16 mx-auto">

  <h2 class="text-2xl font-medium mb-2">Sites</h2>
  <p class="text-gray-600 dark:text-gray-400 mb-12">A collection of sites built to showcase different web technologies.</p>

  <ul class="list-none space-y-8">
    {% for site in sites %}
      <li>
        <a href="{{ site.url | url }}">
          <h3 class="w-full mb-2 font-medium text-indigo-700 text-lg md:text-xl dark:text-gray-100">
            {{ site.name }}
          </h3>
        </a>
        <p class="text-gray-600 dark:text-gray-400">{{ site.description }}</p>
      </li>
    {% endfor %}
  </ul>

</div>

