@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

img {
  border-radius: 8px;
}

.dark .prose th {
  color: white;
}

.dark .prose p img,
.dark .prose pre {
  @apply mx-auto;
  @apply block;

  box-shadow: 0 0 50px rgb(237 78 80 / 40%), 0 0 0 1px hsl(0deg 0% 100% / 10%);
  border-radius: 4px;
}

.prose p img,
.prose pre {
  @apply mx-auto;
  @apply block;

  box-shadow: 0 0 0 1px rgb(53 72 91 / 10%), 0 2px 2px rgb(0 0 0 / 3%),
    0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%),
    0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%),
    0 70px 65px rgb(0 0 0 / 9%);
  border-radius: 4px;
}
