---
layout: post.njk
pagination:
  data: github_til_repo
  size: 1
  alias: til
permalink: "til/{{ til.name | removeExtension | slug }}/"
---

<div class="mx-auto mt-4 mb-16 lg:mt-10">
  {{ til.object.text | markdown | safe }}
</div>
