---
layout: post.njk
pagination:
  data: github_til_repo
  size: 1
  alias: til
  addAllPagesToCollections: true
permalink: "til/{{ til.name | removeExtension | slug }}/"
hideReadingTime: true
eleventyComputed:
    title: "{{ til.title | safe }}"
---

<div class="mx-auto mt-4 mb-16 lg:mt-10">
  {{ til.object.text | markdown | safe }}
</div>
