---
layout: base.njk
eleventyNavigation:
  key: Today I Learned
  order: 100
pagination:
  data: github_til_repo
  size: 100
---

<div class="mx-auto mt-4 mb-16 prose-headings:mt-3 lg:mt-10">
  <p class="mb-12 text-gray-600 dark:text-gray-400">
    Learnings I have picked up by
    <a
      class="border-b-2 border-yellow-500 font-medium text-black hover:bg-yellow-500 dark:text-gray-100"
      href="https://www.learninpublic.org/"
      target="noopener"
      >Learning In Public</a
    >.
  </p>

  <ul class="list-none space-y-8">
    {%- for item in pagination.items %}
    <li>
      <h3
        class="mb-2 w-full text-lg font-medium text-black dark:text-gray-100 md:text-xl"
      >
        {{ item.title }}
      </h3>
      <div class="mb-2 text-gray-600 dark:text-gray-400">
        {{ item.object.description | markdown | safe }}
      </div>
      <a
        href="/til/{{ item.name | removeExtension | slug }}"
        class="border-b-2 border-yellow-500 font-medium text-black hover:bg-yellow-500 dark:text-gray-100"
        >Read More</a
      >
    </li>
    {% endfor %}
  </ul>
</div>
