---
layout: base.njk
eleventyNavigation:
  key: Today I Learned
  order: 100
pagination:
  data: github_til_repo
  size: 100
---

<div class="mx-auto mt-4 mb-16 prose-headings:mt-3 lg:mt-10">
  <p class="mb-12">
    A collection of bite-size learnings I have picked up while
    <a
      class="border-b-2 border-yellow-500 font-medium text-black hover:bg-yellow-500 dark:text-gray-100"
      href="https://www.learninpublic.org/"
      target="noopener"
      >Learning In Public</a
    >.
  </p>

  <ul class="list-none">
    {%- for item in pagination.items %}
    <li class="mb-0">
      <a href="/til/{{ item.name | removeExtension | slug }}">
        <span
          class="text-lg font-medium text-black dark:text-gray-100 md:text-xl"
        >
          {{ item.title }}
        </span>
      </a>
      <p class="text-gray-600 dark:text-gray-400">{{ repo.description }}</p>
    </li>
    {% endfor -%}
  </ul>
</div>
