---
layout: base.njk
---

<div class="mx-auto mt-4 mb-16 lg:mt-10">
  <p class="mb-12 text-gray-600 dark:text-gray-400">
    Showcase of sites and companies I have worked with.
  </p>

  <ul class="list-none space-y-8">
    {% for site in sites %}
    <li>
      <a href="{{ site.url | url }}">
        <h3
          class="mb-2 w-full text-lg font-medium text-black dark:text-gray-100 md:text-xl"
        >
          {{ site.name }}
        </h3>
      </a>
      <p class="mb-2 text-gray-600 dark:text-gray-400">
        {{ site.description }}
      </p>
      <a
        class="border-b-2 border-yellow-500 hover:bg-yellow-500"
        href="{{ site.url | url }}"
        >{{ site.url | url }}</a
      >
    </li>
    {% endfor %}
  </ul>
</div>
